.blog-widget
	.blog-widget--header
		.subtitle{style: "border: none; padding-bottom: 0; margin-bottom: 10px;"}
			Búsqueda
	.blog-widget--body
		.widget-list#search
			= form_tag "/blog/", method: :get, :html => {:class => ""} do |f|
				= text_field_tag :query, params[:query], :placeholder => "Buscar.."