=	link_to "/" do
	= image_tag ("frontend/Logo.png")
.img-title
	BLOG
= render 'keppler_blog/blog/search'
.subtitle
	Post recientes

= render 'keppler_blog/blog/recents'
.subtitle
	Categorias
.category-widget
	- @categories.each do |category|
		%li
			= link_to category.name, "/blog/category/#{category.permalink}"

.col-lg-12.hidden-xs{class: "#{'hidden' if (action_name == 'index') and (controller_name == 'frontend') }"}
	= render 'keppler_blog/blog/tags'
	= render 'keppler_blog/blog/twitter_timeline'