.blog-widget
	.blog-widget--header
		.subtitle
			Twitter timeline
	.blog-widget--body{style: "margin-bottom: 50px;"}
		%a.twitter-timeline{ href:"https://twitter.com/#{KepplerBlog.twitter_username}", "data-widget-id"=>"#{KepplerBlog.widget_twitter_id}", "data-chrome"=>"header" } 
			= "Tweets por @#{KepplerBlog.twitter_username}"
