= title "Keppler Blog"
= meta_description "Bienvenidos al blog de keppler admin, aquí podras encontrar excelentes articulos sobre ruby on rails."

.front
	.front-left{style: "width: 25%;"}
		.center-h
			.center-v{style: "width: 90%;"}
				.sidebar
					= render "sidebar"

	.front-right{style: "width: 75%;"}
		.center-h
			.center-v
				.post-container
					- if @posts.empty?
						.title-post{style: "font-size: 22px; text-align: center;"}= "No existen resultados para '#{params[:query]}'"

					- else 
						- @posts.each do |post|
							.single-post
								.title-post
									= post.title
								.row
									.col-lg-9.col-md-8.col-sm-8.col-xs-8.content-post{id: "content-#{post.id}"}
										= post.body.truncate(250).html_safe
									.col-lg-3.col-md-4.hidden-sm.hidden-xs.btn-more{id: "more-#{post.id}"}
										.center-h
											.center-v{style: "justify-content: center; width: 100%;"}
												.more{style: ""}
													= link_to "Leer Más" , "/blog/#{post.permalink}" 
									.hidden-lg.hidden-md.col-sm-4.col-xs-4.btn-more{id: "more-#{post.id}"}
										.center-h
											.center-v{style: "justify-content: center;"}
												.more{style: "width: 40px; height: 40px; padding: 0;"}
													.center-h
														.center-v{style: "width: 100%;"}
															= link_to "/blog/#{post.permalink}" do
																%i.fa.fa-eye
								.img-post{style: "background-image: url('#{post.image}')"}
								:javascript
									$('#more-#{post.id}').css('height', $('#content-#{post.id}').height())
						= paginate @posts