= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)

.front
	.front-left{style: "width: 25%;"}
		.center-h
			.center-v{style: "width: 90%;"}
				.sidebar
					= render "sidebar"

	.front-right{style: "width: 75%;"}
		.center-h
			.center-v
				.post
					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					.post-attributes
						%ul
							%li
								%span
									%i.fa.fa-calendar
									= @post.created_at.strftime("%d %b. %Y")
							%li
								%i.fa.fa-user
								= link_to @post.user.name, filter_path('autor', @post.user.permalink)
							%li
								%i.fa.fa-tags
								= link_to @post.category.name, filter_path('category', @post.category.permalink)
					.post-image
						= link_to blog_show_post_path(@post.permalink) do
							= image_tag @post.image
					= @post.shared_enabled ? social_share_button_tag(@post.title) : "<br>".html_safe
					.post-body
						= @post.body.html_safe
				.row
					.col-lg-12.col-xs-12
						.posts-wrapper
							= render 'facebook_comments'