// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main{
  height: 100%;
}

.front{
  overflow: hidden;
  height: 100%;
  width: 100% !important;
  display: flex;
  position: relative;
  @media #{$phone}{
    height: auto;
    position: static;
    display: table;
  }
  @media #{$tablet}{
    height: auto;
    position: static;
    display: table;
  }

  @media #{$phone-landscape}{
    height: auto;
    position: static;
    display: table;
  }
}
.front-left, .front-right{
  height: 100%;
  width: 50%;
  display: inline-block;
  position: absolute;
  @media #{$phone}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
  @media #{$tablet}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
  @media #{$phone-landscape}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
}
.front-left{
  background: #1d8780;
  color: white;
  text-align: center;
  left: 0;
  overflow: hidden;
  padding-right: 15px;
}
.front-left{
  .center-h{
    .center-v{
      padding: 0;
      @media #{$phone}{
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @media #{$phone-landscape}{
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}
.front-right{
  background: white;
  color: #777e7d;
  right: 0;
  overflow: hidden;
  padding-right: 15px;
}

.center-h{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  .center-v{
    display: flex;
    flex-direction: column;
    width: 70%;
    @media #{$phone}{
      width: 90%;
    }
    @media #{$tablet}{
      width: 90%;
    }
    @media #{$phone-landscape}{
      width: 90%;
    }
  }
}
.img-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
  @media #{$phone}{
    font-size: 28px;
  }
  @media #{$tablet}{
    font-size: 28px;
  }
  @media #{$phone-landscape}{
    font-size: 28px;
  }
}
.subtitle{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 27px;
  margin-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 3px solid white;
  @media #{$phone}{
    font-size: 25px;
  }
  @media #{$tablet}{
    font-size: 25px;
  }
  @media #{$phone-landscape}{
    font-size: 25px;
  }
}
.img-txt{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 22px;
  @media#{$phone}{
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  @media#{$phone-landscape}{
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  @media#{$tablet}{
    padding: 4%;
    text-align: center;
    color: white;
  }
}
.post-container{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  position: relative;
  padding-top: 10%; 
  height: auto;
  .single-post{ 
    margin-bottom: 30px;
    .title-post{
      font-size: 22px;
      margin-bottom: 5px;
      border-bottom: 2px solid #1D8780;
    }
    .content-post{
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .img-post{
      position: relative;
      height:200px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}
.pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 30px;
	font-size: 18px;
	a{
		color: #1D8780;
		padding-right: 3px;
		padding-left: 3px;
	}
}
.pagecurrent{
	padding-right: 3px;
	padding-left: 3px;
}
.btn-more{
  .more{
    text-align: center;
    a{
      border: 3px solid #1d8780;
      padding: 10px;
      color: #777e7d;
      text-decoration: none;
    }
  }
}
.widget-list{
  li{
    display: block;
    a{
      font-family: 'Hind', sans-serif;
      font-weight: 600;
      font-size: 22px;
      color: white;
      @media #{$phone}{
        font-size: 20px;
      }
      @media #{$tablet}{
        font-size: 20px;
      }
      @media #{$phone-landscape}{
        font-size: 20px;
      }
    }
  }
}
.category-widget{
	li{
		display: inline-block;
		margin-bottom: 30px;
		a{
			text-decoration: none;
			font-family: 'Hind', sans-serif;
			font-weight: 600;
			font-size: 17px;
			padding: 10px;
			color: #1D8780;
			background: #FFFFFF;
			border-radius: 10px;
			@include transition(background, 0.5s !important);
			@include transition(color, 0.5s);
		}
		a:hover{
			background: #1D8780;
			color: #FFFFFF;
      @include transition(background, 0.5s !important);
      @include transition(color, 0.5s);
		}
	}
}
.sidebar{
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  input{
    color: #1D8780;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.widget-list{
  padding-left: 0px;
}
.front-left:hover, .front-right:hover{
  overflow-y: scroll;
  padding-right: 0;
}
.post-body{
  padding-bottom: 50px;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 15px;
  span{
    font-weight: 600;
    color: #1D8780;
  }
}
.post-image{
  margin-bottom: 20px;
  margin-top: 20px;
}
.post-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 20px;
  a{
    color: #1D8780;
  }
}
.post-attributes{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 3px solid #1D8780;
  ul{
    padding-left: 0;
    li{
      display: inline-block;
      margin-right: 25px;
      margin-bottom: 5px;
      a{
        color: #1D8780;
      }
    }
  }
}