.navigator
	%button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
		#menu
	%ul.dropdown-menu
		%li
			%a{:href => "http://publinetecuador.com"} HOME
		%li
			%a{:href => "http://publinetecuador.com/about"} SOBRE NOSOTROS
		%li
			%a{:href => "http://blog.publinetecuador.com"} BLOG
